* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.filter {
    padding: 10px;
    background-color: lightsteelblue;
}

.todo-list li {
    cursor: pointer;
}

.done {
    text-decoration: line-through;
}

.todo-details {
    border: 1px solid lightgray;
}

footer {
    display: flex;
    justify-content: end;
    gap: 10px;
    
    padding: 10px;
    background-color: lightsteelblue;
}